*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: black;
}
.header{
  display: flex;
  background-color: black;
  width: 100%;
  height: 69px;
  position:fixed;
  border-bottom: seashell solid 1px;
}

.logo{
  background-image: url("../resources/images/logo (1).png");
  height: 50px;
  margin-left: 10px;
}
body{
  margin:auto;
  background-image: url("../resources/images/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  z-index: -3;

}
