*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: black;
  font-family: helvetica;
}

/*header stuff*/
.header{
  display: flex;
  background-color: black;
  width: 100%;
  height: 69px;
  position:fixed;
  border-bottom: seashell solid 1px;
  top: 0;
  left:0;
  z-index: 10;
}
.logo{
  background-image: url("../resources/images/logo (1).png");
  height: 50px;
  margin: 10px 0px 10px 10px;
}
/*navigation*/
.navigation{
  display: flex;
  align-items: center;
  position: relative;
  left: 750px;
}
.navigation span{
padding-left: 12px;
font-size: 22px;
text-decoration: underline;
}
a{
  color: seashell;
}
/*end navigation*/
/*end header stuff*/

body{
/*  height: 700px;*/
  width: 1200px;
  margin-left: 40px;
  text-align: center;
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
}
/*CENTER BAND TOP*/
#mission{
  background-image: url("../resources/images/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
  margin-left: 48px;
}
.center-band{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
}
#mission .top-content{
  margin-top: 255px;
  background-color: black;
  width: 100%;
}

/*END CENTER BAND TOP*/
/*TEA OF THE MONTH*/
#store{
  height: 700px;
  width: 1000px;
  margin:auto;
  padding-top: 70px;
}

#store .middle-content{

}

.middle-content{
  margin-top: 310px;
  background-color: black;
}
/*END TEA OF THE MONTH*/

/*STORE ITEMS*/

.items{
  margin-top: 30px;
  display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;

}.item{
  padding: 8px;
}

.item img{
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}
.item span{
  padding-top: 10px;
  text-align: center;
  display: block;
  font-weight: bold;
}
/* END STORE ITEMS*/
/*LOCATIONS*/
.locations-container{
  background-image: url("../resources/images/img-locations-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 400px auto 70px auto;
  width: 1200px;
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
}
#locations .location-header{
margin-bottom: 70px;
position: relative;
top:auto;
bottom: 145px;
left: 600px;
z-index: 0;
}
.area-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 180px;
}
.location{
  display: flex;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;

  margin-left: 40px;
  align-content: center;
  flex-direction: column;


}
.location p{
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
/*LOCATIONS END*/
/*Footer*/
.footer{
  height: 200px;
  padding-top: 15px;
}
.footer h5{
  padding-bottom: 15px;
}
.footer h2{
  padding-bottom: 15px;
}
.copyright{
  text-align: left;
  margin-right: 1020px;
  height: 40px;
  width: 260px;
}
/*END FOOTER*/
